/* This says that the font-size depends on the width of your screen. */
html { font-size: 2vw; }

/* This defines the big container for all content. */
#container {
margin-top: 30px;
margin-left: 25%;
text-align: justify;
margin-right: 25%;}

/* This defines some general information about the webpage, i.e. the font. */
body {
font-family: sans-serif;
line-height: 2;}

/* h2 and h3 are tags used for the titles of your webpage; h3 should be smaller than h2 (there is also a biggest one, h1, that I don't use) */
h1 {
text-align: center;
margin: 0;}
h2 {
margin-bottom: 0;
border-bottom: 2px solid gray;}
h3 {
margin: 0;}

/* this styles how the links appear on your webpage */
a, a:link, a:hover, a:visited {
color: #003366;
text-decoration: none;}

/* hover describes what happens when your cursor is on the link */
a:hover {
border-bottom: 1px solid gray;}

.header {
height: 40px;
padding: 20px 20px 0;
background: #e1e1e1;
}
.main-content {
height: 60vh;
padding: 20px;
}
footer {
padding: 0.5% 2em;
background: #D3D3D3;
color: black;
font-size: 14px;
}
}
a {
color: #00aaff;
}

* {
box-sizing: border-box;
}

.button {
border: none;
color: white;
padding: 2px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 4px 2px;
cursor: pointer;
}
.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}
.button6 {border-radius: 12px;height: 30px; width: 95%}


/* Create two equal columns that floats next to each other */
.column {
float: left;
}

.padding {
	padding: 1% 3%;
}

.left {
width: 75%;
}

.right {
width: 25%;
text-align: right;
}

.left50 {
width: 50%;
text-align: center;
}

.right50{
width: 50%;
text-align: center;
}

.leftfooter {
width: 50%;
}

.rightfooter {
width: 50%;
text-align: right;
}


/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}


/* This forces the container to adapt to the window size; i.e. makes the webpage somehow 'adaptive' to the device you use. */

@media all and (min-width: 1001px) {
.hide-on-desktop-opening {
display: none;
}
}

@media all and (max-width: 1000px) {
.show-on-desktop-opening  {
display: none;
}
}

@media all and (min-width: 521px) {
.hide-on-desktop-footer {
display: none;
}
}

@media all and (max-width: 520px) {
.show-on-desktop-footer  {
display: none;
}
}


@media all and (min-width:2001px)                       { html { font-size: 15px; } Footer{ font-size:14px; }}
@media all and (min-width:1701px) and (max-width:2000px){ html { font-size: 15px; } Footer{ font-size:14px; } #container {margin-left: 20%; margin-right: 20%;}}
@media all and (min-width:1501px) and (max-width:1700px){ html { font-size: 15px; } Footer{ font-size:14px; } #container {margin-left: 15%; margin-right: 15%;}}
@media all and (min-width:1151px) and (max-width:1500px){ html { font-size: 14px; } Footer{ font-size:12px; } #container {margin-left: 10%; margin-right: 10%;}}
@media all and (min-width:701px)  and (max-width:1150px){ html { font-size: 14px; } Footer{ font-size:12px; } #container {margin-left: 5%; margin-right: 5%;}}
@media all and (min-width:521px)  and (max-width:700px) { html { font-size: 13px; } Footer{ font-size:11px; } #container {margin-left: 5%; margin-right: 5%;}}
@media all and (max-width:520px)                        { html { font-size: 13px; } Footer{ font-size:11px; } #container {margin-left: 3%; margin-right: 3%;}}















