/* This says that the font-size depends on the width of your screen. */
html { font-size: 2vw; }
/* This defines the big container for all content. */
#container {
margin-top: 30px;
margin-left: 25%;
text-align: justify;
margin-right: 25%;}
/* This forces the container to adapt to the window size; i.e. makes the webpage somehow 'adaptive' to the device you use. */
@media all and (min-width:1000px) { html { font-size: 18px; } }
@media all and (max-width:520px) { html{ font-size: 14px; }
#container {margin-left: 1%; margin-right: 1%;}}
/* This defines some general information about the webpage, i.e. the font. */
body {
font-family: sans-serif;
line-height: 2;}
/* h2 and h3 are tags used for the titles of your webpage; h3 should be smaller than h2 (there is also a biggest one, h1, that I don't use) */
h1 {
text-align: center;
margin: 0;}
h2 {
text-align: center;
margin: 0;}
h3 {
margin-bottom: 0;
border-bottom: 1px solid gray;}
/* this styles how the links appear on your webpage */
a, a:link, a:hover, a:visited {
color: black;
text-decoration: none;
border-bottom: 1px dotted gray;}
/* hover describes what happens when your cursor is on the link */
a:hover {
border-bottom: 1px solid gray;}
