/* This says that the font-size depends on the width of your screen. */
html { font-size: 2vw; }

/* This defines the big container for all content. */

#container {
margin-top: 0px;
margin-left: 28%;
text-align: justify;
margin-right: 28%;}

.backg1{
	background-color: #F4F0EC;
}

/* This defines some general information about the webpage, i.e. the font. */

body {
font-family: helvetica, sans-serif;
font-weight: 500;
line-height: 1.75;
height: 100vh; 
-webkit-text-size-adjust: 100%;
margin: 0px; 
}

/* h2 and h3 are tags used for the titles of your webpage; h3 should be smaller than h2 (there is also a biggest one, h1, that I don't use) */
h1 {
text-align: left;
margin: 0;}
h2 {
margin-bottom: 0;
border-top: 2px solid gray;}
h3 {
margin: 0;}

/* this styles how the links appear on your webpage */
a, a:link, a:hover, a:visited {
color: #003366;
text-decoration: none;}

.smaller { font-size:75%; }


/* hover describes what happens when your cursor is on the link */
a:hover {
border-bottom: 1px solid gray;}

.header {
height: 40px;
padding: 20px 20px 0;
background: #e1e1e1;
}
.main-content {
height: 60vh;
padding: 20px;
}
footer {
padding: 2% 0%;
background: #D3D3D3;
color: black;
font-size: 14px;
}

a {
color: black;
}

* {
box-sizing: border-box;
}

.button {
border: none;
color: white;
padding: 2px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 4px 2px;
cursor: pointer;
}
.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}
.button6 {padding: 0px 10px; text-align: center; border-radius: 0px;height: 35px; width: 100%; border: 0px solid #003366;}
.button7 {border-radius: 12px;height: 40px; width: 100%; border: 2px solid #003366;}
.button8 {border-radius: 20px;height: 35px; width: 120%; border: 0px; background-color:rgba(255, 255, 255, 0.7);}
.button9 {border-radius: 12px;height: 40px; width: 95%; border: 2px solid #003366;}
.button10 {border-radius: 12px;height: 40px;  padding: 0px 32px; border: 2px solid #003366;}
.button11 {padding: 0px 4px; text-align: left; border-radius: 0px;height: 35px; width: 100pt; border: 0px solid #003366;}
.button12 {padding: 0px 8px; text-align: left; border-radius: 0px;height: 30px; width: 100%; border: 0px solid #003366;}
.button13 {border-radius: 20px;height: 30px; width: 120%; border: 0px; background-color:rgba(255, 255, 255, 0.7);}

a.big-link{position:relative;}
a.big-link:before{
    position:absolute;
    content:'';
    top:-10px;
    right:-10px;
    left:-10px;
    bottom:-10px;
}

.verticalmiddle {
    vertical-align: middle;
    font-size: 40px;
}

/* Create two equal columns that floats next to each other */
.column {
float: left;
}

.padding {
	padding: 1% 0%;
}

.padding2 {
	padding: 0% 5%;
}

.paddingimpressumg {
	padding: 1% 3%;
}

.paddingfooter {
padding: 0% 0%;
}

.left {
width: 61%;
}

.right {
width: 37%;
}

.leftiPad {
	width: 70%;
	}
	
.rightiPad {
	width: 25%;
	}

.spotfilleriPad{
		width: 5%;
	}

.spotfiller{
	width: 2%;
}

.left120 {
padding: 0 2pt;
text-align: center;
}

.right120{
	padding: 0 2pt;
	text-align: center;
}

.left100pt {
	padding: 0 3pt;
	text-align: center;
	}

.right100pt {
	padding: 0 5pt;
	text-align: center;
	}

.right20pt {
		width: 20pt;
		text-align: center;
	}

.left50 {
	width: 50%;
	text-align: center;
	}
	
.right50 {
	width: 50%;
	text-align: center;
	}

.right50{
	width: 50pt;
	text-align: center;
	}

.left100{
	width: 100%;
	text-align: center;
	}



.leftfooter {
width: 50%;
}

.rightfooter {
width: 50%;
text-align: right;
}

.column20 {
width: 20%;
text-align: center;
}


/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}


/* This forces the container to adapt to the window size; i.e. makes the webpage somehow 'adaptive' to the device you use. */

@media all and (min-width: 1001px) {
.hide-on-desktop-opening {
display: none;
}
}

@media all and (min-width: 621px) and (max-width: 1000px){
	.hide-in-ipad-opening {
	display: none;
	}
	}

@media all and (max-width: 620px) {
.show-on-desktop-opening  {
display: none;
}
}

@media all and (min-width: 521px) {
.hide-on-desktop-footer {
display: none;
}
}

@media all and (max-width: 520px) {
.show-on-desktop-footer  {
display: none;
}
}


@media all and (min-width:1001px)                       { html { font-size: 16px; } Footer{ font-size:14px; } #container {width: 1000px; margin: 0 auto;} body {background: url('chalkboard.jpg'); background-attachment: fixed;}}
@media all and (min-width:621px)  and (max-width:1000px) { html { font-size: 14px; } Footer{ font-size:13px; } #container {margin-left: 0%; margin-right: 0%;} body {background-color: #F4F0EC}}
@media all and (max-width:620px)                        { html { font-size: 14px; } Footer{ font-size:13px; } #container {margin-left: 0%; margin-right: 0%;} body {background-color: #F4F0EC}}


.overlay-text{
	padding:4px 0px;
	text-align:center;
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: -4px;
  }

.overlay-text-name{
	background-color:rgba(255, 255, 255, 0.5);
	padding: 0px 4px;
	text-align:left;
	position: absolute;
	bottom: 53px;
	left: 5%;
  }

.overlay-text-email{
	padding:4px 5%;
	text-align:center;
	position: absolute;
	bottom: 0;
	right: 11px;
  }

.headerDesktop{
	position:relative;
   	height: 300pt;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
 }
  

.overlay-text-mobile{
	padding:4px 0px;
	text-align:center;
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: -6px;
  }

.overlay-text-namemobile{
	background-color:rgba(255, 255, 255, 0.5);
	padding: 0px 8px;
	text-align:left;
	position: absolute;
	bottom: 85px;
	left: 5%;
  }

.overlay-text-email-mobile{
	padding:4px 5%;
	text-align:center;
	position: absolute;
	bottom: 0;
	right: 11px;
  }

.headerMobile{
	position:relative;
   	height: 200pt;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
 }

.overlay-text-ipad{
	padding:4px 0px;
	text-align:center;
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: -6px;
  }

.overlay-text-nameiPad{
	background-color:rgba(255, 255, 255, 0.5);
	padding: 0px 10px;
	text-align:center;
	position: absolute;
	bottom: 53px;
	left: 5%;
  }

.overlay-text-email-ipad{
	padding:4px 5%;
	text-align:center;
	position: absolute;
	bottom: 0;
	right: 11px;
  }

.headerIpad{
	position:relative;
   	height: 200pt;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
 }








